<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <mat-card class="box">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width-login">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error>Invalid Email</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width-login">
          <input matInput placeholder="Password" formControlName="Password" type="password">
          <mat-error>Password should be more then 4 caracters</mat-error>
        </mat-form-field>

      </mat-card-content>
      <div  fxLayoutAlign="end end">
          <button mat-stroked-button color="accent" (click)="login()" class="btn-block" [disabled]="!loginForm.valid">Login</button>
      </div>

    </form>
  </mat-card>
</div>
