<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div style="display: flex; justify-content: space-between; width: 100%;">
    <div>FORMINI</div>
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active" style="text-decoration: none; color:white; margin-right: 15px;">Login</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active" style="text-decoration: none; color:white;">Register</a>
    </span>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>