.main-card{
    width: 120%;
}
.container{
    margin: 5%;
}
.description-style{
    margin: 2% 4% 1% 4%;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
}
.card-title{
    color: crimson;
    font-size: 20px;
    font-family: auto;
}
.scroll-card{
    height: 490px;
    overflow: scroll;
}